{% set gradients = [
    'from-dark-blue via-dark-blue/35 to-dark-blue/35',
    'from-green via-green/35 to-green/35',
    'from-black via-black/35 to-black/35'
] %}

<div class="service-fullwidth w-full h-full absolute p-8 pb-12 z-10 flex flex-col justify-between gap-8 overflow-hidden rounded-3xl">
    <div class="relative z-30 flex flex-col items-end gap-20">
        <div data-infinite-scroll class="flex flex-row relative w-full z-30">
            {% for _ in 1..8 %}
                <div data-infinite-inner class="flex flex-row items-end gap-[2.5vw] pr-[2.5vw] will-change-transform text-white *:text-[12vw] *:whitespace-nowrap *:shrink-0 *:!leading-[0.8]">
                    {{ service.title|lower }}
                </div>
            {% endfor %}
        </div>
        <div class="block-content max-w-[450px] z-20 relative text-white">
            {{ service.content }}
        </div>
    </div>
    <div class="flex flex-row gap-8 relative z-20 justify-between w-full">
        {% for sub_service in service.sub_service %}
            <a href="{{ sub_service.service_link.link }}" class="w-full flex flex-row items-center justify-between gap-4 text-white py-2 border-b border-white group relative">
                <div class=" flex flex-col items-center justify-center size-8 rounded-lg z-10 ease-fancy duration-300 scale-0 group-hover:scale-100 bg-white absolute left-0 top-2">
                    {% include "icons/button-arrow.twig" with { class: "size-3 text-black arrow-lead"  } %}
                </div>
                <div class="ease-fancy duration-300 group-hover:translate-x-12">
                    {{ sub_service.service_link.title }}
                </div>
                <div class=" flex flex-col items-center justify-center size-8 rounded-lg relative z-10 ease-fancy duration-300 group-hover:scale-0 bg-white">
                    {% include "icons/button-arrow.twig" with { class: "size-3 text-black arrow-lead"  } %}
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="absolute inset-0 bg-gradient-to-t {{ gradients[(loop.index0) % 3] }} h-full w-full z-10"></div>
    <div class="image-overlay absolute inset-0 bg-black opacity-40 h-full w-full z-10"></div>
    <img src="{{ get_image(service.image).src }}" alt="{{ service.image.alt }}" class="w-full h-full object-cover absolute inset-0" />
</div>
